.content {
  text-align: center;
  background: transparent;
}

input[type=submit] {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200px;
}

input[type=file] {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 0px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 1em;
  outline: none; 
}

select{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200px;
}

.title-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200px;
	color: white;
	font-size: 100px;
  margin: .4em;
}

.subtitle-italics {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	font-weight: 200px;
	color: white;
	font-size: 50px;
  margin: 1em;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at center, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
}

.btn1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  padding: 5px;
  background: white;
  margin-bottom: 10px;
  border-radius: 5px;
  padding:  15px;
  font-weight: bold;
  font-size: xx-large;
}

.btn2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  padding: 5px;
  background: white;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: large;
}