<!doctype html>
<html>
  <head>
    <title>easyML - ML for all</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/li   bs/dropzone/5.7.1/min/dropzone.min.css">
  </head>
  <body>
    <div class="content">
      <p class="title-text">easyML</p>
      <p class="subtitle-italics">ML for all</p>
      <form method="POST" action="" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="submit" value="Submit"><br>
      </form>
    </div>
  </body>
</html>
