<!doctype html>
<html>
  <head>
    <title>easyML - ML for all</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="content">
      <p class="title-text">easyML</p>
      <p class="subtitle-italics">ML for all</p>
      <p style="font-family: 'Source Sans Pro', sans-serif; color: white; font-size: 15px;">Upload a CSV file of data to get started!</p>
      <form method="POST" action="" enctype="multipart/form-data">
        <input id="file_upload" type="file" name="file" class="btn2">
        <br style="margin-bottom: 3em;">
        <input class="btn1" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
