<!doctype html>
<html>
  <head>
    <title>easyML - ML for all</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="content">
      <p class="title-text">easyML</p>
      <p class="subtitle-italics">ML for all</p>
      <form method="POST" action="./" enctype="multipart/form-data">
        <p><input type="file" name="file"></p>
        <p><input type="submit" value="Submit"></p>
      </form>
    </div>
  </body>
</html>


