<!doctype html>
<html>
  <head>
    <title>easyML - ML for all</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  </head>
  <body>
    <div class="content">
        <p class="title-text">The predicted {{output_column}} is {{solution}}.</p>
        <a href="/" class="btn1_link">Start over</a>
    </div>
  </body>
</html>