<!doctype html>
<html>
  <head>
    <title>easyML - ML for all</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="content" style="margin-top: 35%;">
        <form method="POST" action="/train">
            <select id="columns" name="columns" class="btn2" style="font-weight: 400;">
                {% for item in data %}
                    <option value={{item.name}}>{{item.name}}</option>
                {% endfor %}
            </select>

            <select name="filename" style="display: none">
                <option value={{filename}}></option>
            </select>

            <input name="target" type="submit" class="btn2" style="font-weight: 400;">
        </form>
    </div>
  </body>
</html>